.footer {
    background-color: var(--background-color);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 70%;
    height: 1px;
    background-color: var(--secondary-text-color);
    margin: 10px 0;
    border: none;
}

.loremText {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  text-align: center;
}

.socials {
  display: flex;
  margin-bottom: 10px;
}

.navLink {
  margin: 0 10px;
  color: var(--secondary-text-color);
  font-size: 1.5em;
  text-decoration: none;
}

.navLink:hover {
  color: #0077cc;
}

.copyright {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}

.copyright {
    font-size: xx-small;
}

.viewButtonContainer {
  position: flex;
  color: var(--secondary-text-color);
  margin-left: 68%;
}