.header {
  background-color: var(--background-color);
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* This centers the nav links. */
  align-items: center; /* This centers the items vertically. */
}


.navLink {
  margin-right: 15px;
  margin: 0 7.5px; /* split the 15px margin to both sides */
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 0.8em;
}

.navLink:hover {
  color: var(--link-hover-color);
}

.themeToggle {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  color: var(--link-color);
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 1em;
}
.themeToggle:hover {
  color: var(--link-hover-color);
}

