@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

/* :root {
  --background-color: #fff;
  --primary-text-color: #333;
  --secondary-text-color: #777;
  --link-color: #0077cc;
  --link-hover-color: #005999;
} */

:root {
  --background-color: #222; /* dark gray for background */
  --primary-text-color: #eee; /* light color for primary text */
  --secondary-text-color: #aaa; /* slightly darker color for secondary text */
  --link-color: #1e90ff; /* a bright blue for links */
  --link-hover-color: #63a4ff; /* a lighter blue for hover effects on links */
}


* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-text-color);
  font-family: 'Fira Code', monospace;
  line-height: 1.2;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

p {
  margin: 0 0 1.5em 0;
}

img {
  max-width: 100%;
  height: auto;
}

.blog-post-content {
  font-family: 'IM Fell English', Helvetica, Arial, sans-serif;
}

.content-wrapper {
  display: flex;
  justify-content: center; /* centralizes children horizontally */
  align-items: flex-start; /* aligns children at the top */
  padding: 0.5em; /* apply padding here instead of main and side content */
  width: 100%;
}

.main-content {
  flex: 1 0 auto;
  max-width: 600px; /* your specification */
  text-align: left; /* your specification */
  min-height: 70vh;
}

.side-content {
  flex: 0 0 400px;
}


@media (max-width: 800px) {
  body {
    font-size: 18px;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .main-content,
  .side-content {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
/* For desktop styles */
@media (min-width: 601px) {
  body {
    font-size: 20px;
  }
}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}
